* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

#about-me h2 {
    font-size: 6em;
}

#projects h2,
#contact-me h2 {
    border-bottom: 1rem solid magenta;
    padding-left: 2em;
    margin-top: 1em;
}

/* Sets the background color to blueviolet
 adds a 5px solid green border to elements with the class my-links */
.my-links {
    background-color: blueviolet;
    border: 5px solid green;
}

/* Changes the display property to flex and sets the gap between child elements to 5rem. 
 background color to red, stretches the element to 100% of its container
 aligns the child elements to the right
  adds padding to the right side of the element.
 */
.my-links {
    display: flex;
    gap: 5rem;
    width: 100%;
    background-color: red;
    justify-content: flex-end;
    padding-right: 10%;
}


/* background color to saddlebrown
 adds a 5px solid aquamarine border to elements 
 Also sets the display property to flex. */
.work-links,
.contact-link {
    background-color: saddlebrown;
    border: 5px solid aquamarine;
    display: flex;
}

/* background color to hotpink
 adds a 5px solid royalblue border to a elements
 Sets the width of the a elements to 8rem
  centers the text within the elements. */
.my-links a {
    background-color: hotpink;
    border: 5px solid royalblue;
    width: 8rem;
    text-align: center;
}


/* Centers the text within an H1 element both horizontally and vertically using Flexbox */
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    background: yellow;
    text-align: center;
    font-size: 7rem;
}


/* Arrange child elements in a column using Flexbox
 applies a green background color with a 10px firebrick border. */
main {
    display: flex;
    flex-flow: column;
    background-color: lightgreen;

    border: 10px solid firebrick;


}


/* uses Flexbox to align elements vertically
 centers child elements horizontally
 and adds a 1rem gap. */
#about-me {
    line-height: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}




/*  background to palevioletred
  Flexbox to align elements vertically
   allows element to shrink
    centers child elements horizontally*/
.bio {
    background: palevioletred;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    align-items: center;
    width: 70%;
    line-height: 2.5;
}

.bio p {
    font-size: 1.6rem;
}



/* display to flex for #about-me and .works a.
    Allows elements to shrink
    10px solid blueviolet border
    evenly spaces child elements horizontally
    and centers them vertically. */
#about-me,
.works a {
    display: flex;
    flex-shrink: 1;
    border: 10px solid blueviolet;
    justify-content: space-around;
    align-items: center;
}

#one img {
    height: 300px;
}

h3 {
    font-size: 3rem;
}

.works:hover h3 {
    font-size: 7rem;
}

/* Adds "View More" after h3 elements within .works when .works is hovered over.
 Displays it as a block, adds a 10px margin at the top, 
 sets font-size to 3rem, 
 and centers the text horizontally. */
.works:hover h3::after {
    content: "View More";
    display: block;
    margin-top: 10px;
    font-size: 3rem;
    text-align: center;
}

.works:hover img {
    height: 300px;
}



/* in this class, "Carlos Dela Cruz PROJECTS" will slide from right to left.
the gap in between each span is 40px.
When screen resolution decreases, the overflow will be hidden, and will not wrap to the next line.
*/

.border-text {
    display: flex;
    gap: 2rem;
    height: 50px;
    border: 2px solid blue;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}

/* Adds an animation for the border-texts to slide from right to left infinitely */
.border-text span {
    flex: 1;
    animation: slide 20s infinite linear;
}

@keyframes slide {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

/* layout for frofile box. even spaces between resume and github */
.profile-box {
    height: 30em;
    display: flex;
    flex-shrink: 1;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 6rem;
}

.profile-box>* {
    text-align: center;
    padding: 2rem;
    border: 5px solid;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

label {
    font-weight: bold;
}


#github:hover img {
    height: 400px;
}

#resume:hover img {
    height: 400px;
}




@media screen and (max-width:900px) {




    #about-me p {
        font-size: 0.8rem;
    }

    h1 {
        background: tan;
        font-size: 5rem;
    }

    #about-me h2 {
        font-size: 3.5rem;
    }

    img {
        width: 50%
    }

    #one img {
        height: 0%;
        width: 60%;
    }


    h3 {
        font-size: 2em;
    }

    .works:hover h3 {
        font-size: 3rem;
    }


    .works:hover h3::after {
        font-size: 2rem;
    }

    .works:hover img {
        height: 100%;
    }


    .profile-box {

        padding-top: 1rem;
        flex-direction: column;
    }

    .profile-box>* {
        border: none
    }

    #github:hover img {
        height:fit-content;
        width: 101%;
    }

    #resume:hover img {
        height:fit-content;
        width: 101%;
    }
}


@media screen and (max-width:500px) {


    .my-links {
        gap: 1rem;
    }

    .my-links a {
        width: 6rem;
    }

    #about-me p {
        font-size: 0.8rem;
    }

    h1 {
        background: red;
        font-size: 2rem;
    }

    #about-me h2 {
        font-size: 2rem;
    }

    img {
        width: 50%
    }

    #one img {
        height: 0%;
        width: 60%;
    }


    h3 {
        font-size: 2em;
    }

    .works:hover h3 {
        font-size: 2rem;
    }


    .works:hover h3::after {
        font-size: 1rem;
    }

    .works:hover img {
        height: 100%;
    }


    .profile-box {

        padding-top: 1rem;
        flex-direction: column;
    }

    .profile-box>* {
        border: none
    }

    #github:hover img {
        height: 100%;
    }

    #resume:hover img {
        height: 100%;
    }

}