*{
    box-sizing: border-box;
}

.my-links{
    height: 100px;
}
.my-links ul {
    background-color: red;
    padding-right: 40px;
    margin: 0;
    height: 100%;
}

.my-links li {
    background-color: black;

}

.hero {
    height: 300px;
    width: 100%;
    margin: 0;
    background: blue;
}

main {
    display: flex;
    flex-flow: column;
    
    background-color: black;
    gap: 2rem;
    border: 10px solid firebrick;
    

}


/* in this class, "Carlos Dela Cruz PROJECTS" will slide from right to left.
the gap in between each span is 40px.
When screen resolution decreases, the overflow will be hidden, and will not wrap to the next line.

 */
.border-text {
    display: flex;
    gap: 2rem;
    height: 50px;
    border: 2px solid blue;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}





@media screen and (min-width:500px) {
    .hero {
        background: red;
    }
    
}

@media screen and (min-width:900px) {

    .hero {
        background: yellow;
    }
}