

.my-links ul{
    background-color: red;
    padding-right: 40px;
    margin: 0;
}
.my-links li {
    background-color: black;
    
}
figure{
    height: 400px;
    width: 100%;
    margin: 0;
    background: blue;
}
main{
    display: flex;
    flex-flow: column wrap;
    
}
section{
    
    border: 10px solid black;
}

.works{
    height: 200px;
    border: solid red 1px;

}

.works:focus {
    background-color: aqua;
    height: 300px;
}
h3:focus{
    color: red;
}